.setTags {
  display: inline-block;
  border: 1px solid rgba(255,255,255,0.8);
  border-radius: 999em;
  padding: 0 10px 0 10px;
  color: #bfbfbf;
  line-height: 24px;
  font-size: 12px;
  text-decoration: none;
  margin: 0 1px;
  margin-bottom: 6px;
  cursor: pointer;
  border-color: #bfbfbf;
  vertical-align: middle;
}
.post-preview > .post-meta > a:hover,
.post-preview > .post-meta > a:focus {
  color: #0085a1;
  text-decoration: none;
}
.myDiv {
  display: inline-block;
  padding: 0 0 0 0px;
  color: #bfbfbf;
  line-height: 26px;
  height: 26px;
  font-size: 19px;
  text-decoration: none;
  margin: 0 0px;
  margin-left: 10px;
  margin-bottom: 6px;
  border-color: #bfbfbf;
  vertical-align: middle;
}
.addPost-preview {
  background-color: #fff;
  margin: 0;
  padding: 15px;
  padding-left: 33px;
  padding-top: 35px;
  border-radius: 12px;
  margin-bottom: 20px;
}
.post-preview > .addPost-meta {
  margin-top: 60px;
  margin-left: 80%;
  margin-bottom: 0;
}
.post-preview > a > .addPost-title {
  margin-right: 20px;
  margin-top: 15px;
}
