@media (max-width: 767px) {
  .post-preview > .setTags {
    vertical-align: middle;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    background-color: #9bcd9b;
    border-radius: 12px 0 12px 0;
    padding: 8px;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
  }
  .post-preview > .setTags:hover {
    color: #fff;
    background-color: #bde2b9;
  }
  .addFlat > .setTags {
    vertical-align: middle;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    background-color: #9bcd9b;
    border-radius: 0 12px 0 12px;
    padding: 8px;
    color: #fff;
    line-height: 24px;
    font-size: 12px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0;
  }
  .addFlat > .setTags:hover {
    color: #fff;
    background-color: #bde2b9;
  }
  .post-preview > .post-meta > a:hover,
  .post-preview > .post-meta > a:focus {
    color: #0085a1;
    text-decoration: none;
  }
  .myDiv {
    display: inline-block;
    padding: 0 0 0 0px;
    color: #bfbfbf;
    line-height: 26px;
    height: 26px;
    font-size: 16px;
    text-decoration: none;
    margin: 0 0px;
    margin-left: 10px;
    margin-bottom: 6px;
    border-color: #bfbfbf;
    vertical-align: middle;
  }
  .addPost-preview {
    background-color: #fff;
    margin: 3;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 5%;
    border-radius: 12px;
    margin-bottom: 20px;
    position: relative;
  }
  .post-preview > .addPost-meta {
    position: absolute;
    right: 22%;
    bottom: 1%;
    margin-bottom: 0;
  }
  .post-preview > a > .addPost-title {
    font-size: 21px;
  }
  .addsub {
    color: #bfbfbf;
    font-size: 14px;
    font-style: normal;
    margin-bottom: 25px;
  }
  h2.post-title.addPost-title {
    margin-top: 10px;
  }
  .addFlat {
    background-color: #fff;
    border-radius: 12px;
    padding: 4%;
  }
  .addpadding {
    padding: 0 2% 0;
  }
  .addsub:hover {
    color: #0085a1;
  }
  .suojin {
    margin-left: 6em;
  }
  .addFlat h3 {
    font-size: 21px;
    margin-left: 12px;
  }
  .addFlat h1 {
    font-size: 28px;
  }
  .addFlat p {
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .addFlat ol {
    font-size: 16px;
  }
  .addFlat table {
    font-size: 16px;
  }
  .addHeader {
    margin-bottom: 30px;
    height: 320px;
  }
  .addFlat ul {
    font-size: 16px;
  }
}
@media only screen and (min-width: 768px) {
  .post-preview > .setTags {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    background-color: #9bcd9b;
    border-radius: 0 12px 0 12px;
    padding: 10px;
    color: #fff;
    line-height: 24px;
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0;
  }
  .addFlat > .setTags {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: inline-block;
    background-color: #9bcd9b;
    border-radius: 0 12px 0 12px;
    padding: 10px;
    color: #fff;
    line-height: 24px;
    font-size: 13px;
    text-decoration: none;
    font-style: normal;
    cursor: pointer;
    vertical-align: middle;
    position: absolute;
    right: 0;
    top: 0;
    margin-bottom: 0;
  }
  .addFlat >.setTags:hover {
    color: #fff;
    background-color: #bde2b9;
  }
  .post-preview > .setTags:hover {
    color: #fff;
    background-color: #bde2b9;
  }
  .post-preview > .post-meta > a:hover,
  .post-preview > .post-meta > a:focus {
    color: #0085a1;
    text-decoration: none;
  }
  .myDiv {
    display: inline-block;
    padding: 0 0 0 0px;
    color: #bfbfbf;
    line-height: 26px;
    height: 26px;
    font-size: 19px;
    text-decoration: none;
    margin-left: 10px;
    margin-bottom: 6px;
    border-color: #bfbfbf;
    vertical-align: middle;
  }
  .addPost-preview {
    background-color: #fff;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 4%;
    padding-bottom: 6%;
    border-radius: 12px;
    margin-bottom: 20px;
    position: relative;
  }
  .post-preview > .addPost-meta {
    position: absolute;
    right: 5%;
    bottom: 5%;
    margin-bottom: 0;
  }
  .post-preview > a > .addPost-title {
    font-size: 26px;
  }
  .addsub {
    color: #bfbfbf;
    font-size: 17px;
    font-style: normal;
    margin-bottom: 25px;
  }
  h2.post-title.addPost-title {
    margin-top: 2%;
    margin-right: 8%;
  }
  .addFlat {
    background-color: #fff;
    border-radius: 12px;
    padding: 4%;
  }
  .addpadding {
    padding: 0 2% 0;
  }
  .addsub:hover {
    color: #0085a1;
  }
  .suojin {
    margin-left: 6em;
  }
  .addHeader {
    margin-bottom: 30px;
    height: 530px;
  }
}
